
.image-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2.5rem;
}

.bottom_border {
    border-bottom: 2px solid $grey;
}

.img_1 {}

.img_2 {}

.img_3 {}

.img_4 {}

.img_5 {}

.img_6 {}