@media screen and (min-width: 768px) {
    .mobile-screen-menu {
        display: none;
    }
/***************************
        Navigation
****************************/
    .large-screen-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    span {
        padding: 10px;
        padding-bottom: 10px;
        align-items: center;
    }

    .secondary-logo {
        cursor: pointer;
        margin-right: auto;
    }   

    .nav__links {
        padding: 0;
        font-size: 2rem;

        li, a {
            text-decoration: none;
            list-style: none;
            color: $grey;
        }
        li {
            display: inline-block;
            padding: 10px;
        }
        a:hover {
            color: $white;
        }
    }

/***************************
        Content
****************************/

    .main-content {
        max-width: 95%;
        min-height: 100vh;
        margin: 0 auto;
    }

    .image-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, 400px);
        justify-content: center;
        gap: 10.625rem 30px;
    }

    .hover:hover {
        background: royalblue;
        box-shadow: 10px 10px 15px 0px rgba(179,179,179,1);
        transition: .3s ease-out;
        transform: scale(1.1);
        transition: transform .7s;
    }
}   
