// //// Navigation Bar

.main-header {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // color: $black;
    padding: 30px 10%;
}

.large-screen-nav {
    display: none;
}

.mobile-screen-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
}

.logo {
    margin-right: auto;
}

////////// Overlay Menu //////////

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(146deg, rgba(0,0,0,1) 0%, rgba(3,3,3,1) 45%, rgba(110,119,121,1) 100%);
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;

    a {
        padding: 8px;
        text-decoration: none;
        font-size: 2.25rem;
        color: $grey;
        transition: 0.3s;
    }

    a:hover, a:focus {
        color: $grey;
    }
}

.overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:  50%;
    width: 100%;
    text-align: center;
    margin-top: 50%;
    transition: 0.7s;
}

.overlay .closebtn {
    position: absolute;
    top: 12px;
    right: 25px;
    font-size: 5.5rem;
}

.icons {
    margin: 20px;
}
.fa-linkedin {
    color: rgb(0, 110, 255);
}

.fa-twitter {
    color: rgb(86, 154, 243);
}

.fa-github {
    color: rgb(255, 123, 0);
}



// span {
//     padding: 10px;
//     padding-bottom: 10px;
//     align-items: center;
// }

// .logo {
//     cursor: pointer;
//     margin-right: auto;
// }   

// .nav__links {
//     padding: 0;

//     li, a {
//         text-decoration: none;
//         list-style: none;
//         color: $grey;
//     }
//     li {
//         padding: 10px;
//     }
// }


  
