//// Navigation Bar

.main-header {
    text-align: center;
    margin: 0 auto;
    color: $black;
}

.nav__links {
    padding: 0;

    li, a {
        text-decoration: none;
        color: $black;
    }
    li {
        padding: 10px;
    }
}


