* {
    box-sizing: border-box;
}

body {
    background: $white;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.main-content {
    max-width: 90%;
    margin: 0 auto;
}

img {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}
