@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

body {
    background: dodgerblue;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.main-header {
    text-align: center;
}

span {
    font-size: 1.7em;
    font-weight: 400;
}