@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

h1 {
    font-weight: 300;
    font-size: 2.5rem;
}

span {
    font-size: 2.5rem;
    font-weight: 300;
}

/////////////////
.container_1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
}

.container_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-top: 15px;
}

.container-p {
    margin: 0;
}
//// Icons /////

.icons-list {
    li {
        list-style: none;
        padding: 10px;
        font-size: 1.5rem;
    }

    padding: 0;
    // display: flex;
    // align-content: space-around;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.icon-html:before {
    content: "\f13b";
    font-family: FontAwesome;
    margin: 10px;
    color: #e34c26;
}

.icon-css:before {
    content: "\f38b";
    font-family: FontAwesome;
    margin: 10px;
    color: #263de4;
}

.icon-sass:before {
    content: "\f41e";
    font-family: FontAwesome;
    margin: 10px;
    color: #c69;
}

.icon-js:before {
    content: "\f3b8";
    font-family: FontAwesome;
    margin: 10px;
    color: #f0db4f;
}
/////////////////// 
/******************
Contact Page
*******************/
.icons-list-container_3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0;
    text-align: center;
}
.icon-email:before {
    content: "\f199";
    font-family: FontAwesome;
    margin-right: 10px;
    font-size: 1.5rem;
}

.icon-email {
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    font-size: 1.5rem;
    color: $grey;
}
///////////////////


.h2-title {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.5;
    color: $black;
    border-radius: 7px;
}

.content-title {
    margin: 0 auto;
    text-align: center;
}

.main-footer {
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
    grid-row-start: 2;
    grid-row-end: 3;
    color: $black;
    padding: 30px;
}