@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

body {
    background: $white;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.main-header {
    text-align: center;
    padding-top: 20px;
}

span {
    font-size: 4.5em;
    font-weight: 400;
}

.content-title {
    margin: 0 auto;
    text-align: center;
}